---
- name: Copy logstash.yml template
  template:
    src: "logstash.yml.j2"
    dest: "{{ logstash_config_dir }}/logstash.yml"
  become: true
  notify: restart logstash

- name: Create Logstash Keystore
  command: /usr/share/logstash/bin/logstash-keystore create
  args:
    chdir: "/etc/logstash/logstash.keystore" 
  environment:
    LS_HOME: "/usr/share/logstash"  # Replace with the actual path to your Logstash installation
  become: yes
  register: keystore_result
