---
- name: Copy logstash.yml template
  template:
    src: "logstash.yml.j2"
    dest: "{{ logstash_config_dir }}/logstash.yml"
  become: true
  notify: restart logstash

- name: Check if Logstash keystore exists
  shell: /usr/share/logstash/bin/logstash-keystore --path.settings /etc/logstash/ list
  register: keystore_list
  ignore_errors: yes


- name:  Setup Logstash keystore.
  shell: /usr/share/logstash/bin/logstash-keystore --path.settings /etc/logstash/ create
  environment:
    LOGSTASH_KEYSTORE_PASS: furqan123
  when: "'Unable to load keystore' in keystore_list.stderr"
