---
- name: Download Logstash Package if Needed
  get_url:
    url: "https://artifacts.elastic.co/downloads/logstash/logstash-{{ logstash_version }}-x86_64.rpm"
    dest: "/var/tmp"
  register: download_result
  when: not logstash_installed.stat.exists or logstash_version != logstash_installed.stat.size

- name: Check if RPM Package is Downloaded Successfully
  debug:
    var: download_result  

- name: Check if Logstash is installed
  stat:
    path: "{{ logstash_install_dir }}/bin/logstash"
  register: logstash_installed

- name: Install or upgrade Logstash
  yum:
    name: "{{ download_result.dest }}"
    state: "{{ 'latest' if not logstash_installed.stat.exists or logstash_version != logstash_installed.stat.size else 'present' }}"
    disable_gpg_check: yes
  become: true
  when: download_result.changed