---
- name: Check if Logstash keystore exists
  shell: test -f /etc/logstash/logstash.keystore
  register: keystore_exists
  ignore_errors: true

- name: Handle the case when Logstash keystore is not present
  debug:
    msg: "Logstash keystore does not exist"
  when: not keystore_exists.rc == 0

- name: Remove existing Logstash keystore if it is not a valid keystore
  shell: rm -f /etc/logstash/logstash.keystore
  when: keystore_exists.rc == 0

- name: Create Logstash keystore
  command: echo "simplepassword" | /usr/share/logstash/bin/logstash-keystore create --path.settings /etc/logstash/
  args:
    creates: /etc/logstash/logstash.keystore
  when: keystore_exists.rc == 0