---
- name: Check if Logstash keystore exists
  shell: /usr/share/logstash/bin/logstash-keystore --path.settings /etc/logstash/ list
  become: yes
  register: keystore_list
  ignore_errors: true  # This allows the task to continue even if it fails

- name: Handle the case when Logstash keystore is not present
  debug:
    msg: "Logstash keystore does not exist"
  when: keystore_list.rc != 0  # Check the return code of the previous task

- name: Setup Logstash keystore if not present
  shell: /usr/share/logstash/bin/logstash-keystore --path.settings /etc/logstash/ create
  environment:
    LOGSTASH_KEYSTORE_PASS: furqan123
  when: "'Unable to load keystore' not in keystore_list.stderr"
