---
- name: Check if Logstash keystore exists
  shell: test -f /etc/logstash/logstash.keystore
  register: keystore_exists
  ignore_errors: true

- name: Create Logstash keystore
  command: /usr/share/logstash/bin/logstash-keystore create --path.settings /etc/logstash/
  environment:
    LOGSTASH_KEYSTORE_PASS: mypassword
  args:
    creates: /etc/logstash/logstash.keystore
  when: keystore_exists.rc == 0

- name: Debug keystore creation result
  debug:
    var: keystore_creation_result
