---
- name: Check if Logstash keystore exists
  stat:
    path: /etc/logstash/logstash.keystore
  register: keystore_exists
  ignore_errors: true

- name: Debug keystore existence check
  debug:
    var: keystore_exists

- name: Create Logstash keystore
  command: "/usr/share/logstash/bin/logstash-keystore create --path.settings /etc/logstash/"
  environment:
    LOGSTASH_KEYSTORE_PASS: "mypassword"
  when: not keystore_exists.stat.exists
  become: yes

- name: Debug keystore creation result
  debug:
    var: keystore_creation_result
  when: not keystore_exists.stat.exists
