---
- name: Check if Logstash keystore exists
  shell: /usr/share/logstash/bin/logstash-keystore --path.settings /etc/logstash/ list
  become: yes
  register: keystore_list
  ignore_errors: true  # This allows the task to continue even if it fails

  - name: Debug keystore_list variable
    debug:
      var: keystore_list
    when: keystore_list.rc != 0
      

- name: Handle the case when Logstash keystore is not present
  debug:
    msg: "Logstash keystore does not exist"
  when: keystore_list.rc != 0 or "'Can not find Logstash keystore' in keystore_list.stderr"

- name: Debug output before Logstash keystore setup
  debug:
    msg: "Before Logstash keystore setup"

- name: Setup Logstash keystore if not present
  shell: /usr/share/logstash/bin/logstash-keystore --path.settings /etc/logstash/ create
  environment:
    LOGSTASH_KEYSTORE_PASS: furqan123
  when: "'Unable to load keystore' not in keystore_list.stderr"

- name: Debug output after Logstash keystore setup
  debug:
    msg: "After Logstash keystore setup