---
- name: Include Install and Upgrade Logstash
  include: install_upgrade.yml

- name: logstash config files
  include: config.yml

- name: logstash certificate deployment
  include: ssl.yml

- name: logstash plugin manage  
  include: plugins.yml
  when: logstash_plugins_list is defined
- name: Ensure Logstash is started and enabled on boot.
  service:
    name: logstash
    state: started
    enabled: "{{ logstash_enabled_on_boot }}"
