# ======================== Logstash Configuration =========================
#
# This file is used to configure various settings for Logstash.
# For more information, consult the documentation:
# https://www.elastic.co/guide/en/logstash/current/index.html

# ======================== Paths =========================
#
# The directory where Logstash stores temporary files.
path.data: "{{ logstash_data_path }}"

# The directory where Logstash stores logs.
path.logs: "{{ logstash_log_path }}"

# ======================== Logging =========================
#
# Specify the log level (options: debug, info, warn, error, fatal)
log.level: "{{ log_level }}"

# ======================== X-Pack Settings =========================
#
xpack.management.enabled: true
xpack.management.pipeline.id: [ "main", "*logs", "test", "*logs_{{ ansible_hostname }}" ]
xpack.management.elasticsearch.hosts: ["{{ elastic_hostname }}"]
xpack.management.elasticsearch.username: "{{ xpack_management_username }}"
# Read password from Logstash keystore
xpack.management.elasticsearch.password: ${ES_PWD}
# SSL settings
xpack.ssl.certificate_authority: "/etc/logstash/ssl/ca.crt"
xpack.ssl.verification_mode: certificate

# Monitor cluster UUID
monitor.cluster_uuid: "{{ cluster_uuid }}"